.ram { 
    font-size: 40px;
    background: -webkit-linear-gradient(#f7b801,#3d348b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    color: black;
}
p {
    background: -webkit-linear-gradient(white,#001219);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
